
.icon-info-circled:before { content: '\e800'; } /* '' */
.icon-help-circled:before { content: '\e801'; } /* '' */
.icon-home:before { content: '\e802'; } /* '' */
.icon-attention-circled:before { content: '\e803'; } /* '' */
.icon-ok-circled2:before { content: '\e804'; } /* '' */
.icon-ok-circled:before { content: '\e805'; } /* '' */
.icon-ok:before { content: '\e806'; } /* '' */
.icon-check:before { content: '\e807'; } /* '' */
.icon-th-list:before { content: '\e808'; } /* '' */
.icon-cancel:before { content: '\e809'; } /* '' */
.icon-cancel-circled2:before { content: '\e80a'; } /* '' */
.icon-cancel-circled:before { content: '\e80b'; } /* '' */
.icon-plus:before { content: '\e80c'; } /* '' */
.icon-user:before { content: '\e80d'; } /* '' */
.icon-users:before { content: '\e80e'; } /* '' */
.icon-cog-alt:before { content: '\e80f'; } /* '' */
.icon-logout:before { content: '\e810'; } /* '' */
.icon-attach:before { content: '\e811'; } /* '' */
.icon-cancel-1:before { content: '\e812'; } /* '' */
.icon-heart:before { content: '\e813'; } /* '' */
.icon-phone:before { content: '\e814'; } /* '' */
.icon-phone-squared:before { content: '\f098'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-mobile:before { content: '\f10b'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-euro:before { content: '\f153'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-rouble:before { content: '\f158'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */
.icon-calc:before { content: '\f1ec'; } /* '' */
.icon-balance-scale:before { content: '\f24e'; } /* '' */
.icon-volume-control-phone:before { content: '\f2a0'; } /* '' */